<div class="comments">

  <div class="comments-title text-center">
    <h1 style= "color:white; font-size:50px"> Comments </h1>
  </div>

    <div class="comments-parent text-center">
      <div id="comments">
        <% @comments.each do |comment| %>
        <div class="comments-child">
          <%= render partial: "comments", locals: { comment: comment, post: @post, topic: @topic } %>
        </div>
        <% end %>

        <div class="comments-child2 text-center">
          <%= paginate @comments %>
        </div>
    </div>
  </div>


  <div id="comments-form-container">
    <%= render partial: "create_form", locals: { comment: @comment, post: @post } %>
  </div>


    <!-- <div class="newbutton text-center">
      <%= link_to t('New Comment'), new_topic_post_comment_path, :class => 'btn btn-primary btn-lg' %>
    </div> -->

</div>
