<div class="comments index" data-id="<%=@post.id%>">
  <div class="comments-index-container">

    <div class="comments-title text-center">
      <h1 style= "color:white; font-size:50px"> Comments </h1>
    </div>

      <div class="comments-parent text-center">
        <div id="comments">
          <% @comments.each do |comment| %>
            <%= render partial: "comment", locals: { comment: comment, post: @post, topic: @topic } %>
          <% end %>
      </div>


        </div>

      <div id="comments-form-container">
        <%= render partial: "create_form", locals: { comment: @comment, post: @post } %>
      </div>

      <div class="comments-child2 text-center">
        <%= paginate @comments %>
      </div>
  </div>

</div>
