<div class="comments">

  <div class="comments-title text-center">
    <h1 style= "color:white; font-size:50px"> Comments </h1>
  </div>

    <div class="comments-parent text-center">
      <div id="comments">
        <% @comments.each do |comment| %>
          <%= render partial: "comments", locals: { comment: comment, post: @post } %>
        <% end %>
      </div>
    </div>

  <div id="comments-form-container">
    <%= render partial: "comments/create_form", locals: { comment: @comment, post: @post } %>
  </div>


    <!-- <div class="newbutton text-center">
      <%= link_to t('New Comment'), new_topic_post_comment_path, :class => 'btn btn-primary btn-lg' %>
    </div> -->

</div>
